{% extends "base.html" %}

{% block htmltitle %}
<title>时间轴</title>
{% endblock %}

{% block content %}

<div class="timeline-future">
    <div class="entry">
        <div class="timeline-title">
            <h3>2023</h3>
            <p>1.30-2.5</p>
        </div>
        <div class="timeline-body">
            <p>探索半径不同时 KNN 算法，固定半径搜索算法</p>
            <ul>
                <li>探索：根据粒子半径不同，划分数据进行搜索</li>
            </ul>
        </div>
    </div>
</div>

<div class="timeline">
    <div class="entry">
        <div class="timeline-title">
            <h3>2023</h3>
            <p>1.23-1.29</p>
        </div>
        <div class="timeline-body">
            <p>无实际安排</p>
            <ul>
                <li>过年</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="timeline-title">
            <h3>2023</h3>
            <p>1.16-1.22</p>
        </div>
        <div class="timeline-body">
            <p>无实际安排</p>
            <ul>
                <li>过年</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="timeline-title">
            <h3>2023</h3>
            <p>1.9-1.15</p>
        </div>
        <div class="timeline-body">
            <p>使用 KD-Tree 代替 HashGrid 进行搜索</p>
            <ul>
                <li>学习 KD-Tree，编写 KNN 代码</li>
                <li>考虑在粒子半径不同时，查找邻居的方法</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="timeline-title">
            <h3>2023</h3>
            <p>1.2-1.8</p>
        </div>
        <div class="timeline-body">
            <p>得新冠，休养中，以下是原定计划</p>
            <ul>
                <li>对项目中，粒子半径不同时的情况进行研究</li>
                <li>因为数据是静态的，尝试使用 KD-Tree 来代替八叉树</li>
                <li>学习 h5 数据库的表示方法</li>
                <li>学习 OpenMP</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="timeline-title">
            <h3>2022</h3>
            <p>12.26-1.1</p>
        </div>
        <div class="timeline-body">
            <p>项目工作暂缓 & 毕设开题答辩 + 毕业实习答辩</p>
            <ul>
                <li>项目方面工作在此期间暂缓，电脑损坏带来的数据丢失影响较大，预计将分担较多时间</li>
                <li>12.26-27 编写开题文档、编写开题 PPT</li>
                <li>12.28 开题文档提交</li>
                <li>12.29 开题答辩、实习答辩文档提交</li>
                <li>12.30 实习答辩</li>
                <li>12.31 根据开题答辩，重新提交开题文档</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="timeline-title">
            <h3>2022</h3>
            <p>12.19-12.25</p>
        </div>
        <div class="timeline-body">
            <p>研究项目 & 毕设相关工作暂缓</p>
            <ul>
                <li>回顾 Marching Cube 及八叉树</li>
                <li>阅读论文：Dual Marching Cubes: Primal Contouring of Dual Grids</li>
                <li>学习 OpenMP</li>
                <li>毕设相关工作在此期间暂缓</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="timeline-title">
            <h3>2022</h3>
            <p>12.12-12.18</p>
        </div>
        <div class="timeline-body">
            <p>电脑坏了，更新换代</p>
            <ul>
                <li>持续时间 12.10-12.18</li>
                <li>硬盘问题导致毕设内容完全损失</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="timeline-title">
            <h3>2022</h3>
            <p>12.5-12.11</p>
        </div>
        <div class="timeline-body">
            <p>研究项目 & 毕业设计立题</p>
            <ul>
                <li>研究 Isosurface 项目，回顾 Visual Data Analytics 相关内容</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="timeline-title">
            <h3>2022</h3>
            <p>11.28-12.4</p>
        </div>
        <div class="timeline-body">
            <p>了解 geometry simplification 相关知识</p>
            <ul>
                <li>阅读论文：ComplexGen: CAD Reconstruction by B-Rep Chain Complex Generation</li>
                <li>阅读论文：A Wavelet-Based Progressive Compression Scheme for Triangle Meshes : Wavemesh</li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <div class="timeline-title">
            <h3>2022</h3>
            <p>11.21-11.27</p>
        </div>
        <div class="timeline-body">
            <p>研究从粒子重构表面的项目</p>
            <ul>
                <li>已完成运行环境配置</li>
                <li>正在分析具体代码，学习 Eigen</li>
                <li>阅读论文：Adaptive Surface Reconstruction for SPH using 3-Level Uniform Grids</li>
                <li>阅读论文：Particle-Based Fluid Simulation for Interactive Applications</li>
                <li>学习数据可视化工具 paraview</li>
            </ul>
        </div>
    </div>
</div>

{{ super() }}

{% endblock %}

{% block styles %}

{{ super() }}

<style>

@charset "UTF-8";

.timeline {
  width: 100%;
  /* max-width: 800px; */
  background: #fff;
  padding: 0px 0px 0px 0px;
  position: relative;
  /* box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2); */
}
.timeline:before { /* 设置分界线 */
  content: "";
  position: absolute;
  top: 0px;
  left: calc(20% + 15px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
  /* background-image: linear-gradient(to bottom, #ccc 0%, #ccc 50%, transparent 50%);
    background-size: 4px 20px;
    background-repeat: repeat-y; */
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-future {
  width: 100%;
  /* max-width: 800px; */
  background: #fff;
  padding: 60px 0px 0px 0px;
  position: relative;
  /* box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2); */
}
.timeline-future:before { /* 设置分界线 */
  content: "";
  position: absolute;
  top: 0px;
  left: calc(20% + 15px);
  bottom: 0px;
  width: 4px;
  /* background: #ddd; */
  background-image: linear-gradient(to bottom, #ccc 0%, #ccc 50%, transparent 50%);
    background-size: 4px 20px;
    background-repeat: repeat-y;
}
.timeline-future:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .timeline-title {
  margin-bottom: 0.5em;
  float: left;
  width: 20%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .timeline-title:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -25px;
  z-index: 99;
}
.entry .timeline-title h3 {
  margin: 0;
  font-size: 120%;
}
.entry .timeline-title p {
  margin: 0;
  font-size: 100%;
}
.entry .timeline-body {
  margin: 0 0 3em;
  float: right;
  width: 75%;
  padding-left: 30px;
}
.entry .timeline-body p {
  line-height: 1.4em;
}
.entry .timeline-body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .timeline-body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .timeline-body ul li:before {
  content: "–";
  margin-right: 0.5em;
}

</style>

{% endblock %}